BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> ca6265b5f474

CREATE TABLE users (
    email VARCHAR NOT NULL, 
    password VARCHAR NOT NULL, 
    username VARCHAR NOT NULL, 
    nox_id VARCHAR NOT NULL, 
    avatar VARCHAR, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (email), 
    UNIQUE (nox_id)
);

CREATE INDEX ix_users_id ON users (id);

CREATE TABLE friends (
    user_id VARCHAR(15) NOT NULL, 
    friend_id VARCHAR(15) NOT NULL, 
    status VARCHAR NOT NULL, 
    action_by VARCHAR(15), 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT check_status CHECK (status IN ('pending', 'accepted', 'rejected', 'blocked')), 
    FOREIGN KEY(action_by) REFERENCES users (nox_id) ON DELETE CASCADE, 
    FOREIGN KEY(friend_id) REFERENCES users (nox_id) ON DELETE CASCADE, 
    FOREIGN KEY(user_id) REFERENCES users (nox_id) ON DELETE CASCADE, 
    CONSTRAINT unique_user_friend UNIQUE (user_id, friend_id)
);

CREATE INDEX ix_friends_id ON friends (id);

INSERT INTO alembic_version (version_num) VALUES ('ca6265b5f474') RETURNING alembic_version.version_num;

COMMIT;

